<nav>
   <div class="cabecalho__itens">
      <i class="fa-solid fa-bars icons__itens" ></i>
      <i class="fa-solid fa-gear icons__itens"></i>
      <i class="fa-solid fa-trash icons__itens"></i>
      <i class="fa-solid fa-calendar-day icons__itens"></i>
      <i class="fa-solid fa-user-group icons__itens"></i>
      <i class="fa-solid fa-box-archive icons__itens"></i>
      <i class="fa-solid fa-bookmark icons__itens"></i>
  </div>

  <div class="cabecalho__pesquisa">
    <i class="fa-solid fa-magnifying-glass"></i>
    <p class="pesquisa__escrever">Pesquisar...</p>
  </div>

  <div class="cabecalho__menu">
    <i class="fa-solid fa-clock-rotate-left fa-flip-horizontal icons__menu"></i>
    <i class="fa-solid fa-bell icons__menu"></i>
    <i class="fa-solid fa-user icons__menu"></i>
  </div>
</nav>

